# Entornos Virtuales
venv/
entorno/
env/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Base de datos (No subir datos reales/locales)
db.sqlite3
*.sqlite3

# Variables de entorno y secretos
.env

# Archivos generados localmente
mi_codigo_completo.txt
staticfiles/

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db
